<div class="wrapper">
  <div class="image">
    <img src="{{(uss.userData |  async)?.photoURL}}" alt="">
  </div>
  <div class="name">
    {{ (uss.userData |  async)?.name }}
  </div>
  <div class="num-sessions">
    Number of sessions: {{ (uss.userData |  async)?.sessionHistory?.length }}
  </div>
  <div class="session-list" *ngIf="((uss.userData | async).sessionHistory?.length)">
    <ion-card class="session" *ngFor="let item of uss.userData.getValue().sessionHistory">
      <ion-card-header>
        {{ item.train }}
      </ion-card-header>
      <ion-card-content>
        <div class="coins">Coins received: {{ item.earnings }}.</div>
        <div class="date">{{ item.startTime | date }}</div>
      </ion-card-content>
    </ion-card>
  </div>
</div>