<ion-content>
  <div class="login-wrapper" *ngIf="!this.afAuth.auth.currentUser">
    <div class="login-heading">
      Let's log you in first
    </div>
    <button ion-button icon-start (click)="login('facebook')">
      <ion-icon name="logo-facebook"></ion-icon>
      Login with Faceboo
    </button>
    <button ion-button icon-start color="danger" (click)="login('google')">
      <ion-icon name="logo-google"></ion-icon>
      Login with Google
    </button>
  </div>
</ion-content>

<ion-content padding *ngIf="this.afAuth.auth.currentUser">
  <div class="home-wrapper">
    Hey There {{ this.afAuth.auth.currentUser.displayName }}
    <button ion-button menuToggle>Menu</button>
    <button ion-button (click)="this.afAuth.auth.signOut()">Logout</button>
  </div>
</ion-content>