page-live-status {
    .no-padding {
        padding: 0 !important;
    }
    
    .live-status-wrapper {
        height: 100%;
        width: 100vw;
        padding-top: 10vh;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .heading {
        font-size: 1.75em;
    }

    .train-no {
        display: flex;
        justify-content: center;
    }
    .train-no ion-item {
        width: 70%;
    }
    .history-item .train {
        font-size: 1.2em;
    }
    .history-item .meta {
        text-align: right;
        font-size: 0.85em;
    }
    .history {
        padding: 0 1em;
    }
    .history ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .history ul li {
        border: 1px solid #f9a99f;
        padding: 0.4em;
    }

    .train-details .header {
        font-size: 1.2em;
    }
    .map-container {
        height: 100px !important;
        width: 100%;
        overflow: hidden;
        display: none;
    }
    #map {
        height: 70% !important;
    }
    .display-map {
        display: initial !important;
    }
}